{% extends 'base.html' %}
{% block content %}
<form>
    <div class="mb-3">
      <label for="searchMovie" class="form-label"><b>Search for Movie</b></label>
      <input type="text" class="form-control" name="searchMovie">
    </div>
    <button type="Search" class="btn btn-primary">Search</button>
  </form>
  <br>
  <br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
    <div v-for="movie in movies" class="col">
      <div class="card">
      <img class="card-img-top" src="{{ movie.image.url }}" width="600" height="600"/>
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ movie.title }}</h5>
          <a class="btn btn-primary me-2" href="{% url 'detail' movie.id %}">Details</a>
          {% if movie.url %}
            <a href="{{ movie.url }}" class="btn btn-primary">Movie Link</a>
         {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock content %}

  <!-- <h2>Join our mailing list</h2>
  <form action="{% url 'signup' %}">
    <div class="mb-3">
      <label for="email" class="form-label"><b>Enter Your Email</b></label>
      <input type="email" class="form-control" name="email">
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
  <br/>
  <br/> -->
